@model IEnumerable<SliderMvc.Models.Image_Admin_>

@{
    ViewBag.Title = "Index";
}
@Html.Raw(TempData["CreateMessage"])
@Html.Raw(TempData["UpdateMessage"])




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories)
            </td>
            <td>
                <img src="@Url.Content(item.ImagePath)" height="80" width="80" />

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
               
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
