@model SliderMvc.Models.ImageByUser

@{
    ViewBag.Title = "UploadYourImage";
}

@Html.Raw(TempData["CreateMessage"])
@Html.Raw(TempData["ErrorMessage"])
@Html.Raw(TempData["SizeMessage"])
@Html.Raw(TempData["ExtensionMessage"])
@Html.Raw(TempData["requiredmessage"])

<br />
<h2 style="text-align:center">Upload Your Image</h2>
<hr class="new1">
@using (Html.BeginForm("UploadYourImage","Home",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">




        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="ImageFile" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>

    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
    <br />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<style>
    .new1 {
        border: 1px solid black;
    }
</style>