@model IEnumerable<SliderMvc.Models.ContestImage>

@{
    ViewBag.Title = "Index";
}
@Html.Raw(TempData["CreateMessage"])
@Html.Raw(TempData["UpdateMessage"])
@Html.Raw(TempData["DeleteMessage"])

<br />
<br />

<br />
<h2 style="text-align:center">Your Uploaded Image For Contest</h2>

<table class="table">
 

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                <img src="@Url.Content(item.ImagePath)" height="80" width="80" />

            </td>
            <td>
                

                @Html.ActionLink("Delete", "EditImage", new { id = item.id })
            </td>
        </tr>
    }

</table>


